/* Main Style */
body{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}


/* Navigation */

.header{
    gap: 20px;
}
.navigation{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 50% 50%;
    height: 50px;
    
    }
    
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 30px 0px;
}
.myName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myTitle{
    padding: 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navTop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
}

/* Content */
.contentHeader{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.headerLine{
    height: 5px;
    background-color: aquamarine;
}

/* Footer */
.bottomLine{
    height: 5px;
    background-color: aquamarine;
}




/* Home Content */
.contentHome{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
}


/* About Content */
.aboutMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


/* Skills Content */

/* Work Content */

/* Responsive Web Design */

@media only screen and (max-width: 1000px) {

  }