.inline-block{
    display: inline-block;
    vertical-align: center;
}

.logo{
    width: 23%;
    padding: 1%;
text-align: center;
}
.navTop{
    width: 73%;
    padding: 1%;
}
.ul{
    width: 50%;
    margin-left: auto;
}
.heroImg{
    height: 600px;
    padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}
.footerNav{
    background-color: #373738;
    padding: center;
}
.ul footer{
    display: inline-block;
    vertical-align: top; 
    color: aliceblue;
}
.footerNav .navBottom{
    text-align: center;
}